@import "../../../../styles/helpers/variables";
@import "../../../../styles/helpers/mixins";
@import "../../../../styles/components/components";

.content {
  .the-main-box {
    margin-bottom: 0;

    .box {
      @media #{$max_767} {
        background: none;
        padding: 0;
        border-radius: unset;
        box-shadow: none;
      }

      .box-content {
        @media #{$max_767} {
          margin-bottom: auto;
        }

        .returned-goods {
          .no-items-msg {
            @include flexbox(flex, "", center, center, "", "");
            min-height: 80px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;

            @media #{$min_768} {
              padding: 14px 0;
            }

            @media #{$max_767} {
              background-color: #fff;
              padding: 20px;
              border-radius: $borderRadius;
              box-shadow: 0 0 20px 0px rgba(40, 47, 58, 0.1);
            }
          }

          .good {
            @media #{$min_768} {
              @include flexbox(flex, "", center, center, "", "");
              padding: 14px 0;

              &:not(.goods-header) {
                min-height: 100px;
              }

              &:not(:last-of-type) {
                border-bottom: 1px solid $borderColor;
              }

              &:last-of-type {
                padding-bottom: 0;
                margin-bottom: 20px;
              }
            }

            @media #{$max_767} {
              @include flexbox(flex, "", "", "", "", wrap);
              background-color: #fff;
              padding: 20px;
              margin-bottom: 20px;
              border-radius: $borderRadius;
              box-shadow: 0 0 20px 0px rgba(40, 47, 58, 0.1);
            }

            &.goods-header {
              padding-top: 0;

              @media #{$min_768} {
                @include flexbox(flex, "", center, between, "", "");
              }

              @media #{$max_767} {
                display: none;
              }

              > div {
                @include appDir(
                  text-transform,
                  capitalize,
                  text-transform,
                  unset
                );

                &:not(.actions-col) {
                  width: calc((100% - 110px) / 3);
                }

                &:not(:first-of-type) {
                  @include flexbox(flex, "", center, "", "", "");
                  @include appDir(margin-left, 40px, margin-right, 40px);
                }

                .title {
                  margin: 0;
                }
              }

              .actions-col {
                .actions-btn {
                  visibility: hidden;
                }
              }
            }

            > div {
              @media #{$min_768} {
                &:not(.actions-col) {
                  width: calc((100% - 110px) / 3);
                }

                &:not(:first-of-type) {
                  @include appDir(margin-left, 40px, margin-right, 40px);
                }
              }
            }

            .img-and-name {
              @media #{$max_767} {
                width: 100%;
                margin-bottom: 30px;
              }

              .item-img {
                margin-bottom: 14px;

                a {
                  display: block;
                  width: fit-content;
                  margin: auto;

                  img {
                    display: block;
                    max-width: 100%;
                    max-height: 80px;
                    object-fit: contain;
                  }
                }
              }

              .item-name {
                .name {
                  text-align: center;
                  font-size: 16px;
                  margin: 0;

                  a:hover {
                    color: $color-one;
                  }
                }
              }
            }

            .dates,
            .totals {
              @media #{$max_767} {
                flex-grow: 1;
                margin-bottom: 20px;
              }

              table {
                border-collapse: collapse;

                tr {
                  &:not(:last-of-type) {
                    th {
                      padding-bottom: 10px;
                    }
                  }

                  th:first-of-type {
                    color: $color-three;
                    @include appDir(padding-right, 8px, padding-left, 8px);
                  }

                  th:last-of-type {
                    text-align: center;
                  }
                }
              }
            }

            .actions-col {
              position: relative;

              @media #{$min_768} {
                width: 70px;
                text-align: end;
              }

              @media #{$max_767} {
                width: 100%;
                text-align: center;
              }

              .actions-btn {
                position: relative;
                @include flexbox(inline-flex, "", center, center, "", "");
                width: fit-content;
                background-color: $backgroundColor;
                padding: 10px;
                border: 0;
                border-radius: 12px;
                box-shadow: $insetShadow;
                cursor: pointer;
                @include transition(0.3s);

                span {
                  display: block;
                  height: 4px;
                  width: 4px;
                  background-color: $color-four;
                  border-radius: 50%;
                  @include transition(0.3s);

                  &:not(:last-of-type) {
                    @include appDir(margin-right, 2px, margin-left, 2px);
                  }
                }

                &:hover {
                  background-color: darken($backgroundColor, 5);

                  span {
                    background-color: $color-three;
                  }
                }

                &:after {
                  content: "";
                  position: absolute;
                  z-index: 2;
                  @include ltr_rotate(45);
                  top: calc(100% + 10px);
                  @include appDir(right, 13px, left, 13px);
                  height: 10px;
                  width: 10px;
                  background-color: #fff;
                  @include appDir(
                    border-color,
                    $borderColor transparent transparent $borderColor,
                    border-color,
                    $borderColor $borderColor transparent transparent
                  );
                  border-style: solid;
                  border-width: 1px;
                  animation: fadeInUp 0.4s ease-in-out both;
                  display: none;
                }

                &.open {
                  &:after {
                    display: unset;
                  }
                }
              }

              .dropdown-list {
                position: absolute;
                z-index: 1;
                top: calc(50% + 27px);
                width: fit-content;
                background-color: #fff;
                border: 1px solid $borderColor;
                border-radius: 10px;
                box-shadow: 0 1px 20px rgba($color-three, 0.1);
                animation: fadeInUp 0.4s ease-in-out both;
                display: none;

                &.open {
                  display: unset;
                }

                @media #{$min_768} {
                  @include appDir(right, 0, left, 0);
                }

                @media #{$max_767} {
                  @include appDir(left, 50%, right, 50%);
                  @include ltr_translateX(-50%);
                }

                li {
                  a {
                    @include flexbox(flex, "", center, "", "", "");
                    color: $color-three;
                    padding: 10px 14px;
                    white-space: nowrap;

                    img {
                      width: 16px;
                      @include appDir(margin-right, 12px, margin-left, 12px);
                    }

                    &:hover {
                      color: $color-one;
                    }
                  }

                  &:first-of-type {
                    a {
                      padding-top: 14px;
                      border-radius: 10px 10px 0 0;
                    }
                  }

                  &:last-of-type {
                    a {
                      padding-bottom: 13px;
                      border-radius: 0 0 10px 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ::ng-deep {
    .modal {
      .modal-body {
        form {
          margin-bottom: -20px;

          .small-fields {
            margin-bottom: 10px;
          }

          .rating {
            text-align: center;
            margin-bottom: 30px;

            .star-rating {
              label {
                font-size: 36px;
                margin: 0 10px;
              }
            }

            .rating-title {
              @include appDir(
                text-transform,
                capitalize,
                text-transform,
                unset
              );
              margin: 30px 0 0;
            }
          }

          textarea {
            height: 120px;
            resize: none !important;
          }
        }
      }
    }
  }
}
