<ul class="boxes" @fadeInUpStaggerEnter>
  <li class="fadeInUpStagger">
    <a routerLink="../view/messages">
      <div class="box-img">
        <img src="../../../assets/images/icons/messages.png" alt="messages">
      </div>
      <h2 class="box-title">{{ 'contact-form-page.messages' | translate }}</h2>
    </a>
  </li>
  <li class="fadeInUpStagger">
    <a routerLink="../view/blacklist">
      <div class="box-img">
        <img src="../../../assets/images/icons/block.png" alt="blacklist">
      </div>
      <h2 class="box-title">{{ 'contact-form-page.blacklist' | translate }}</h2>
    </a>
  </li>
  <li class="fadeInUpStagger">
    <a routerLink="../view/settings">
      <div class="box-img">
        <img src="../../../assets/images/icons/settings.png" alt="settings">
      </div>
      <h2 class="box-title">{{ 'contact-form-page.settings' | translate }}</h2>
    </a>
  </li>
</ul>
