@import "../../../../../styles/helpers/variables";
@import "../../../../../styles/helpers/mixins";
@import "../../../../../styles/components/components";

.checkout {
  @media #{$min_768} {
    @include flexbox(flex, "", start, "", "", "");
  }

  .box,
  .side-box {
    background-color: #fff;
    border-radius: $borderRadius;
    box-shadow: 0 0 20px 0px rgba(40, 47, 58, 0.1);

    @media #{$max_767} {
      width: 90%;
      margin: {
        left: auto;
        right: auto;
      }
    }

    .box-header {
      @include flexbox(flex, "", center, "", "", "");
      width: 100%;
      color: $color-three;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid $borderColor;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
      overflow: hidden;

      li {
        width: 100%;
        padding: 20px;
        @include appDir(text-transform, capitalize, text-transform, unset);
      }
    }

    .box-footer {
      @include flexbox(flex, "", center, "", "", "");
      width: 100%;
      border-top: 1px solid $borderColor;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      overflow: hidden;

      li {
        @include appDir(text-transform, capitalize, text-transform, unset);

        &:only-child {
          width: 100%;
        }

        &:not(:only-child) {
          width: 50%;
        }

        &:not(:last-of-type) {
          a {
            border-style: solid;
            border-color: $borderColor;
            @include appDir(border-width, 0 1px 0 0, border-width, 0 0 0 1px);
          }
        }

        a {
          display: block;
          color: $color-three;
          text-align: center;
          font-weight: bold;
          padding: 20px;

          &:hover {
            background-color: $color-one;
            color: #fff;
            border-color: $color-one;
          }
        }

        &.step-back {
          a {
            &:before {
              font-family: FontAwesome;
              @include appDir(content, "\f104", content, "\f105");
              @include appDir(margin-right, 8px, margin-left, 8px);
            }
          }
        }

        &.step-forward {
          a {
            &:after {
              font-family: FontAwesome;
              @include appDir(content, "\f105", content, "\f104");
              @include appDir(margin-left, 8px, margin-right, 8px);
            }
          }
        }
      }
    }
  }

  .main-area {
    @media #{$min_768} {
      &:only-of-type {
        width: 100%;
      }

      &:not(:only-of-type) {
        width: calc(100% - 340px);
      }
    }

    .box {
      &:not(:last-child) {
        margin-bottom: 40px;
      }

      .box-content {
        @media #{$min_768} {
          padding: 30px 40px;
        }

        @media #{$max_767} {
          padding: 20px;
        }

        .no-items-msg {
          .title {
            font-size: 20px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            margin: 0;
          }
        }

        .payment-tabs {
          @include flexbox(flex, "", stretch, center, "", "");
          margin-bottom: 40px;

          li {
            @include flexbox(flex, "", center, "", "", "");
            color: $color-three;
            text-align: center;
            white-space: nowrap;
            font-weight: bold;
            padding: 14px 22px;
            border: 2px solid $borderColor;
            border-radius: $borderRadius;
            cursor: pointer;
            @include transition(0.3s);

            &:hover,
            &.active {
              background-color: #fff;
              border-color: $color-one;
            }

            &:not(:last-of-type) {
              @include appDir(margin-right, 20px, margin-left, 20px);
            }

            .title {
              @include appDir(margin-left, 16px, margin-right, 16px);

              @media #{$max_991} {
                display: none;
              }
            }
          }
        }

        .payment-method {
          .card-form {
            .credit-cards-select-menu {
              position: relative;
              padding-bottom: 24px;
              margin-bottom: 22px;
              border-bottom: 1px solid $borderColor;

              &:after {
                content: attr(data-or);
                display: block;
                position: absolute;
                bottom: 0;
                @include appDir(left, 50%, right, 50%);
                @include ltr_translate(-50%, 50%);
                background-color: #fff;
                padding: 0 8px;
              }
            }

            .card-number {
              position: relative;

              input {
                @include appDir(padding-right, 60px, padding-left, 60px);
              }

              img {
                display: block;
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                height: 32px;
                width: 32px;
                @include appDir(right, 18px, left, 18px);
              }
            }

            .buttons-container {
              .rounded-btn {
                width: 100%;
              }
            }
          }

          .paypal-method {
            text-align: center;
            display: none;

            p {
              margin: 0 0 24px;
            }

            .paypal-buttons-container {
              .paypal-button {
                width: fit-content;
                text-align: center;
                font-size: 12px;
                margin: auto;
                white-space: nowrap;
                user-select: none;

                button {
                  @include flexbox(flex, "", center, center, "", "");
                  height: 42px;
                  background-color: #ffc439;
                  color: #111;
                  border: 0;
                  border-radius: 18px;
                  cursor: pointer;

                  @media #{$min_768} {
                    width: 250px;
                  }

                  @media #{$max_767} {
                    padding: {
                      left: 20px;
                      right: 20px;
                    };
                  }

                  img {
                    display: block;
                    height: 17px;
                  }

                  span {
                    display: block;
                    @include appDir(margin-left, 6px, margin-right, 6px);
                  }

                  &:hover {
                    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
                  }
                }

                .paypal-button-tagline {
                  display: block;
                  height: 20px;
                  line-height: 20px;
                  cursor: default;
                }
              }
            }
          }

          .cash-on-delivery {
            text-align: center;
            display: none;

            p {
              margin: 0 0 24px;
            }
          }
        }
      }
    }
  }

  .side-box {
    position: sticky;
    top: 95px;

    @media #{$min_768} {
      width: 300px;
      @include appDir(margin-left, 40px, margin-right, 40px);
    }

    @media #{$max_767} {
      margin-top: 40px;
    }

    .side-box-content {
      @media #{$min_768} {
        padding: 20px 40px;
      }

      @media #{$max_767} {
        padding: 20px;
      }

      .content:not(:last-child) {
        margin-bottom: 30px;
      }

      .promotion-form {
        .buttons-container {
          margin-top: -10px;

          .rounded-btn {
            width: 100%;
          }
        }
      }

      .summary {
        width: 100%;
        margin: {
          top: -8px;
          bottom: -8px;
        }
        border-collapse: collapse;

        tr {
          th {
            @include appDir(text-align, left, text-align, right);
            padding: {
              top: 8px;
              bottom: 8px;
            }
            white-space: nowrap;

            &:first-of-type {
              color: $color-three;
            }

            &:last-of-type {
              @include appDir(padding-left, 8px, padding-right, 8px);
            }
          }
        }
      }
    }
  }
}
