<div class="content">
  <div class="the-main-box">
    <section class="box">
      <div class="box-content">
        <table class="goods" [@fadeInUpStaggerBind]="animationStates">
          <tr class="good goods-header">
            <th class="img-and-name"><h5>{{ 'products-page.header-titles.product' | translate }}</h5></th>
            <th><h5>{{ 'products-page.header-titles.date-added' | translate }}</h5></th>
            <th colspan="2"><h5>{{ 'products-page.header-titles.selling-price' | translate }}</h5></th>
          </tr>
          <tr class="no-items-msg" *ngIf="!goods?.length">
            <td colspan="4">
              {{ 'products-page.no-items-msg' | translate }}
            </td>
          </tr>
          <tr class="good" *ngFor="let good of goods; trackBy: track">
            <td class="img-and-name">
              <a [routerLink]="['/good', good.id]"><img [src]="good?.images[0]" [alt]="good?.name[currentLang]"></a>
              <a [routerLink]="['/good', good.id]"><span>{{ good?.name[currentLang] }}</span></a>
            </td>
            <td [attr.data-title]="'products-page.header-titles.date-added' | translate">
              {{ good?.dateAdded }}
            </td>
            <td [attr.data-title]="'products-page.header-titles.selling-price' | translate">
              {{ good?.priceAfterDiscount | currencyExchange : currencyExchangeSer?.exchangeRates }}
            </td>
            <td class="actions-col">
              <button class="actions-btn" [appMenuToggleButton]="actionsMenu">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <ul class="dropdown-list" #actionsMenu>
                <li>
                  <a [routerLink]="['/good', good.id]">
                    <img src="../../../assets/images/icons/zoom.png" alt="view">
                    {{ 'products-page.actions-btns.view' | translate }}
                  </a>
                </li>
                <li>
                  <a [routerLink]="['../../edit', good.id]">
                    <img src="../../../assets/images/icons/edit-tool.png" alt="edit">
                    {{ 'products-page.actions-btns.edit' | translate }}
                  </a>
                </li>
                <li>
                  <a href="#" (click)="$event.preventDefault(); deleteGood(good.id, good.images)">
                    <img src="../../../assets/images/icons/cancel-delete.png" alt="delete">
                    {{ 'products-page.actions-btns.delete' | translate }}
                  </a>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </section>
    <div class="the-main-box-footer">

      <!-- simple pagination with items count -->
      <app-simple-pagination *ngIf="goods?.length" (callPrev)="getPrevPage()" (callNext)="getNextPage()"></app-simple-pagination>

      <a routerLink="../../add" [ngClass]="{
        'add-new': goods?.length,
        'rounded-btn color-one solid reverse shadow': !goods?.length
      }">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ 'products-page.add-new' | translate }}
      </a>
    </div>
  </div>
</div>
