<ul class="pagination">
  <li>
    <a href="#" class="prev" title="Previous Page">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
  </li>
  <li><a href="#">1</a></li>
  <li><a href="#" class="active">2</a></li>
  <li><a href="#">3</a></li>
  <li><span>...</span></li>
  <li><a href="#">6</a></li>
  <li>
    <a href="#" class="next" title="Next Page">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
  </li>
</ul>

<!-- not completed -->
<!-- not completed -->
<!-- not completed -->
<!-- not completed -->
<!-- not completed -->
<!-- not completed -->
<!-- not completed -->
