/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:    Urco - Angular eCommerce App
Version:    1.0
Created:    02/09/2020

1.  Variables                 ==> Located in 'styles/helpers/variables'
    -------------------------
    1. Color Codes
    2. Media Sizes
    -------------------------

2.  Mixins                    ==> Located in 'styles/helpers/mixins'
    -------------------------
    1. Flex Box
    2. Transition
    3. Translate
    4. Skew
    5. Rotate
    6. Scale
    7. rotate & translateX
    8. Rotate & Scale
    9. Directions
    -------------------------

3.  animations                ==> Located in 'styles/helpers/animations'
    -------------------------
    1. Zoom Effects
    2. Fade Effects
    3. Pulse Effect
    4. Spinner Effect
    5. scale Effect
    -------------------------

4.  Reset & Global elements   ==> Located in 'styles/global-and-reset'

5.  Components                ==> Located in 'styles/components/..'
    -------------------------
    1. Typography
    2. Buttons
    3. Forms & Input
    4. components
    -------------------------

*********************************************************************************************/
