@import "../../../../styles/helpers/variables";
@import "../../../../styles/helpers/mixins";
@import "../../../../styles/components/components";

.spinner {
  position: fixed;
  z-index: 9000;
  bottom: 30px;
  @include appDir(right, 30px, left, 30px);
  background-color: #fff;
  padding: 3px;
  border-radius: 50%;
  @include appDir(
    box-shadow,
    -2px 5px 12px -2px rgba($color-three, 0.4),
    box-shadow,
    2px 5px 12px -2px rgba($color-three, 0.4)
  );
  display: none;

  &.loading {
    display: block;
  }

  span {
    display: block;
    height: 29px;
    width: 29px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent $color-one;
    border-radius: 50%;
    @include appDir(
      animation,
      spinner-left 0.6s linear infinite,
      animation,
      spinner-right 0.6s linear infinite
    );
  }
}
