<div class="simple-pagination">
  <div class="items-length">
    <strong>
      {{ simplePaginationSer.spOptions?.viewItemsCountStart || 0 }}-{{ simplePaginationSer.spOptions?.viewItemsCountEnd || 0 }}
      {{ 'custom-elements.simple-pagination.of' | translate }}
      {{ simplePaginationSer.spOptions?.allItemsCount || 0 }}
      {{ 'custom-elements.simple-pagination.items' | translate }}
    </strong>
  </div>
  <ul class="navigation">
    <li>
      <button [class.disabled]="!simplePaginationSer.spOptions?.hasPrevPage"
        [disabled]="!simplePaginationSer.spOptions?.hasPrevPage"
        [title]="'custom-elements.simple-pagination.prev' | translate"
        (click)="getPrevPage()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button [class.disabled]="!simplePaginationSer.spOptions?.hasNextPage"
      [disabled]="!simplePaginationSer.spOptions?.hasNextPage"
      [title]="'custom-elements.simple-pagination.next' | translate"
      (click)="getNextPage()">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</div>
