<div class="section">
  <!-- page title and breadcrumbs -->
  <app-title-and-breadcrumbs></app-title-and-breadcrumbs>

  <div class="section-content" @fadeInUp>
    <div class="container">
      <div class="terms-conditions">
        <h3>{{ 'terms&conditions-page.title1' | translate }}</h3>
        <ol>
          <li>{{ 'terms&conditions-page.list1.0' | translate }}</li>
          <li>{{ 'terms&conditions-page.list1.1' | translate }}</li>
          <li>{{ 'terms&conditions-page.list1.2' | translate }}</li>
          <li>{{ 'terms&conditions-page.list1.3' | translate }}</li>
          <li>{{ 'terms&conditions-page.list1.4' | translate }}</li>
        </ol>
        <h3>{{ 'terms&conditions-page.title2' | translate }}</h3>
        <ol>
          <li>{{ 'terms&conditions-page.list2.0' | translate }}</li>
          <li>{{ 'terms&conditions-page.list2.1' | translate }}</li>
          <li>{{ 'terms&conditions-page.list2.2' | translate }}</li>
          <li>{{ 'terms&conditions-page.list2.3' | translate }}</li>
          <li>{{ 'terms&conditions-page.list2.4' | translate }}</li>
        </ol>
        <h3>{{ 'terms&conditions-page.title3' | translate }}</h3>
        <p>{{ 'terms&conditions-page.text-block1' | translate }}</p>
        <h3>{{ 'terms&conditions-page.title4' | translate }}</h3>
        <p>
          {{ 'terms&conditions-page.text-block2' | translate }}
          <a routerLink="/contact-us">{{ 'terms&conditions-page.contact' | translate }}</a>.
        </p>
      </div>
    </div>
  </div>
</div>
