@import "../../../../styles/helpers/variables";
@import "../../../../styles/helpers/mixins";
@import "../../../../styles/components/components";

.content {
  .the-main-box {
    .box {
      .box-content {
        .box-text {
          font-weight: 500;
          line-height: 1.6;
          margin-bottom: 20px;
        }

        .buttons-container {
          margin-bottom: 20px;
        }
      }
    }
  }
}

:host ::ng-deep {
  app-file-upload {
    width: 100%;
  }
}

// animation
@keyframes spanFadeInRight {
  0% {
    opacity: 0;
    transform: translate(20px, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes spanFadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-20px, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes fullWidth {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
