<div class="confirmation" @fadeInUp>
  <div class="img"><img src="../../../../assets/images/icons/checkout/order-confirmed.png" alt=""></div>
  <div class="text">
    <h2 class="title">{{ 'confirmation-page.thank-you' | translate }}</h2>
    <h4 class="sub-title">{{ 'confirmation-page.sub-title' | translate }}</h4>
    <p>{{ 'confirmation-page.text' | translate }}</p>
  </div>
  <div class="buttons-container">
    <a routerLink="/user-dashboard/user/my-orders" class="rounded-btn color-one solid shadow">
      {{ 'confirmation-page.orders-link' | translate }}
    </a>
  </div>
</div>
